.body {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,103,21,1) 60%, rgba(192,189,9,1) 85%, rgba(255,252,0,1) 100%);
  color: #c0bd09;
}

/* background: linear-gradient(90deg, #000046 0%, #c0bd09 80%); */

.corpo {
  margin: 20px;
  color: rgb(255, 255, 255) !important;
  
}

.btn-custom {
  /* border-color: #c0bd09; */
  color: black !important;
  background-color: #c0bd09;
  font-weight: bold
}

.btn-custom:hover {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,103,21,1) 60%, rgba(192,189,9,1) 85%, rgba(255,252,0,1) 100%) !important;
}

.form-control {
  display: block !important;
  width: 90% !important;
  padding: .10rem .50rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  margin-top: 10px !important;
}

.btn-primary {
  color: black !important;
  margin-top:15px;
  border: #ae09c0 !important;
  background-color: #c0bd09 !important;
  }

.btn-primary:hover {
  color: #fff !important;
  margin-top:15px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,103,21,1) 60%, rgba(192,189,9,1) 85%, rgba(255,252,0,1) 100%) !important;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-items: center;
  margin: 10px;
}




